body {
    /* background-color: #ff0; */
    margin-top: 100px;

}

.name {
    font-size: 30px;
}

.contacts {
    font-size: 20px;
}

.nav-link {
    padding: 0 20px;
    line-height: 50px;
    color: black;
}

.nav-list {
    display: flex;
    align-items: center;
    list-style: none;
    
     
}

html {
    scroll-behavior: smooth;
}

.header {
    background-color: rgb(182, 245, 245);
    border: 5px solid;
}

.nav-item {
    font-size: larger;
    }
    